h1{
    text-align: center;
    font-style: italic;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

h2{
    font-style: oblique;
}

.header-title{
    text-align: center;
    font-size: 45px;
    padding: 1rem 0;
}

/* navbar */

.navbar{
    margin-bottom: 0.5rem;
    

}


.nav-item{
    padding: 0 48px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.searchbar{
    margin-right: 0.7rem;
}



.main-content{
    border: 1px solid rgb(25, 178, 189);
}

/* right sidebar */



.heading-sidebar h2{
    /* text-align: center; */
    font-size: 2.5rem;
    color: white;
    font-style: italic;
    padding: 0rem 0 0.5rem 1rem;

}

.sidebar-item{
    text-decoration: underline;
    font-size: 1rem;
    padding: 0.7em 0;
    font-weight: 600;
    color: rgb(25, 178, 189);
}

.bul-color{
    color: rgb(25, 178, 189);

}

/* foooter */

.footer-text{
    line-height: 3rem;
    font-style: oblique;
    font-size: medium;
    /* display: flex;
    align-items: center;
} */


